<!DOCTYPE html>
<html lang="{{ site.lang }}">
    <head>
        <meta charset="utf-8" />
        <title>
        	{{ site.name }} {% if meta.title != blank and meta.title != site.name %} | {{meta.title}}{% endif %}
        </title>	
        <meta name="description" content="{{ metaDescription | escape }}" />
        <meta name="keywords" content="{{ metaKeywords | escape }}" />
        <link rel="canonical" href="{{ canonicalUrl }}" />
        {% if template == 'index' %}
        <script type="application/ld+json">
            {% include 'structured-data' %}
        </script>
        {% endif %}
        {% include 'open-graph-tags' %}
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="icon" href="/favicon.ico">
        <link rel="icon" type="image/png" sizes="64x64" href="/favicon.png">
        <link rel="apple-touch-icon" href="/apple-touch-icon.png">
        <link rel="stylesheet" type="text/css" href="{{ 'site.css.liquid' | asset_url }}">
        {{ settings.head_extra_code }}
    </head>
    <body id="{{ meta.title | handle }}" class="template-{{ template | replace: '.', ' ' | split: ' ' | first | handle }}">
        <div class="basic">
            {% include 'siteHeader' %}
            {% if template == 'article' or template == 'page' %}
            <div id="main-content" tabindex="-1">
                <main class="text-content">
                    {% include 'breadcrumbs' %}
                    {{ contentForLayout }}
                </main>
            </div>
            {% elseif template == 'index' %}
            <div id="main-content" tabindex="-1">
                {% if settings.indexOtfShow %}
                  {% include 'indexHero' %}
                {% endif %}
                <main>
                    {{ contentForLayout }}
                </main>
            </div>
            {% else %}
            <main id="main-content" tabindex="-1">
                {{ contentForLayout }}
            </main>
            {% endif %}
        </div>
        {% include 'siteFooter' %}
    </body>
    {{ 'site.js' | script_tag }}
    {% if template == 'article' %}
        {{ 'toc.js' | script_tag }}
    {% endif %}
    {% component 'alang.liquid' %}
    {% component 'asearch.js' %}
    {% component 'mermaid' %}
</html>
